@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F9;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F9;
    --foreground: #212121;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wallet-adapter-dropdown {
  width: 100%;
}

.wallet-adapter-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);*/
    background: rgba(255, 255, 255, 0.6);
}

.buttonBackground {
  background-color: #F7F2EC;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}

.buttonActive {
  color: #FEA31B;
}

.buttonInactive {
  color: #6A6A6A;
  background-color: #F5F5F5;
}

.claimActive {
  color: #56C07F;
  background-color: #ECF7F0;
}